In [31]:
import pandas as pd

In [32]:
df_2010 = pd.read_csv('dengue_2010.csv',sep=';',encoding='iso-8859-1')
df_2011 = pd.read_csv('dengue_2011.csv',sep=';',encoding='iso-8859-1')
df_2012 = pd.read_csv('dengue_2012.csv',sep=';',encoding='iso-8859-1')

df_2010.head()

,Município de notificação,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Total
0,260005 Abreu e Lima,-,-,3,-,1,24,4,42,11,26,24,10,145
1,260010 Afogados da Ingazeira,-,1,3,14,56,49,7,7,2,7,15,17,178
2,260020 Afrânio,10,5,12,6,-,1,-,-,-,-,-,-,34
3,260030 Agrestina,-,1,4,1,-,-,-,-,-,1,-,-,7
4,260040 Água Preta,-,-,1,16,4,1,4,6,4,3,2,5,46

In [33]:
#df.loc[<row specific>, <column>] = value
#df_2010.loc[df_2010['Jan'] == '-', 'Jan'] = '0'

df_2010 = df_2010.replace('-','0').ffill()
df_2011 = df_2011.replace('-','0').ffill()
df_2012 = df_2012.replace('-','0').ffill()

#df_2012.head()

In [34]:
dataf_2010 = df_2010
dataf_2011 = df_2011
dataf_2012 = df_2012

dataf_2010['ANO'] = 2010
dataf_2011['ANO'] = 2011
dataf_2012['ANO'] = 2012

cols = dataf_2010.columns.tolist()
cols = cols[0:1] + cols[-1:] + cols[1:-1]

dtf_2010 = dataf_2010[cols]
dtf_2011 = dataf_2011[cols]
dtf_2012 = dataf_2012[cols]

In [35]:
del dtf_2010['Total']
del dtf_2011['Total']
del dtf_2012['Total']

In [36]:
dtf_2010.head()

,Município de notificação,ANO,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,260005 Abreu e Lima,2010,0,0,3,0,1,24,4,42,11,26,24,10
1,260010 Afogados da Ingazeira,2010,0,1,3,14,56,49,7,7,2,7,15,17
2,260020 Afrânio,2010,10,5,12,6,0,1,0,0,0,0,0,0
3,260030 Agrestina,2010,0,1,4,1,0,0,0,0,0,1,0,0
4,260040 Água Preta,2010,0,0,1,16,4,1,4,6,4,3,2,5

In [38]:
dtf_2010.to_csv("tratados/dengue_2010.csv", sep=';', encoding='iso-8859-1')
dtf_2011.to_csv("tratados/dengue_2011.csv", sep=';', encoding='iso-8859-1')
dtf_2012.to_csv("tratados/dengue_2012.csv", sep=';', encoding='iso-8859-1')