In [1]:
import pandas as pd

In [2]:
df_2010 = pd.read_csv('dengue_2010.csv',sep=';',encoding='iso-8859-1')
df_2011 = pd.read_csv('dengue_2011.csv',sep=';',encoding='iso-8859-1')
df_2012 = pd.read_csv('dengue_2012.csv',sep=';',encoding='iso-8859-1')

In [3]:
df_all_cities_dengue = pd.concat([df_2010,df_2011,df_2012])

In [4]:
df_all_cities_dengue.columns

Index([              u'Unnamed: 0', u'Município de notificação',
                            u'ANO',                      u'Jan',
                            u'Fev',                      u'Mar',
                            u'Abr',                      u'Mai',
                            u'Jun',                      u'Jul',
                            u'Ago',                      u'Set',
                            u'Out',                      u'Nov',
                            u'Dez'],
      dtype='object')

In [5]:
del df_all_cities_dengue['Unnamed: 0']

In [6]:
df_all_cities_dengue.head()

,Município de notificação,ANO,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
0,260005 Abreu e Lima,2010,0,0,3,0,1,24,4,42,11,26,24,10
1,260010 Afogados da Ingazeira,2010,0,1,3,14,56,49,7,7,2,7,15,17
2,260020 Afrânio,2010,10,5,12,6,0,1,0,0,0,0,0,0
3,260030 Agrestina,2010,0,1,4,1,0,0,0,0,0,1,0,0
4,260040 Água Preta,2010,0,0,1,16,4,1,4,6,4,3,2,5

In [7]:
df_all_cities_dengue.to_csv("../all_cities_dengue.csv",sep=";",encoding="iso-8859-1")